@layer motiv.base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: var(--motiv-font-body);
    font-size: var(--motiv-font-size);
    line-height: 1.5;
    color: var(--motiv-color-text);
    background: var(--motiv-color-bg);
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--motiv-font-title);
    line-height: 1.2;
  }
}
